body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

/*колір кнопок*/
.btn-primary,
.btn-outline-primary {
  background-color: #856cac;
  border-color: #856cac;
  color: #f3f0f7;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  color: #dad3e6;
  border-color: #282034;
  background-color: #282034;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*колір зірочок*/
.rating span {
  color: #8400f0;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
  width: 20%;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.large-img {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #856cac;
  color: #856cac;
}
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}
.category-box {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #352b45;
  font-size: 1.2rem;
}

.categories {
  color: white;
  text-transform: uppercase;
}

ul.categories a {
  color: #282034;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
}

.categories:hover {
  color: #282034;
}

.lists-style {
  list-style-type: none;
  color: #282034;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button.hover {
  border: #000000;
  border-radius: 5px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
}

.pagination button.active {
  color: #100901;
  font-weight: bold;
}
